# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

# Emacs droppings
*~
\#*#
.#*

# Build, and test folders
test*
doc/user/build
doc/devel
build*
